<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8oo6Mszq32j1tUuao7jCYxFGO7g-pWc8</string>
	<key>GCM_SENDER_ID</key>
	<string>54931530185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.WeatherApp-Favorites</string>
	<key>PROJECT_ID</key>
	<string>advanced-weatherapp</string>
	<key>STORAGE_BUCKET</key>
	<string>advanced-weatherapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54931530185:ios:8f17e4d139815aab1e8818</string>
</dict>
</plist>